
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  min-height: 100vh;
  background-color: burlywood;
  text-align: center;
}

.holes
{ 
  position: absolute;
  display:grid;
  grid-template-columns: repeat(4, 160px);
  gap: 10 px;
  top: 50%;
  left: 50%;
  width: 670px;
  height: 630px;
  transform: translfate(-50%, -50%);
  border: 2px solid black;
}
.hole {
  position: relative;
  height: 150px;
  width: 160px;
  border: 4px solid black;
  overflow: hidden;
}

.pile {
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 210px;
  object-fit: cover;
}

.redAnt
{
  position: absolute;
  top: 0px;
  width: 155px;
  object-fit: contain;
  pointer-events: all;
  z-index: -1;
}

.scoretable{

  font-size: 1.5rem
  height: 100px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 10%;
  top: 5%;
  transform: translate(-5%, -5%);
  border: 1px solid white;

}

.scoretable div {
  display: flex;
  justify-content: space-between;
}

.model
{
  cursor: default;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: green;
  pointer-events: all;
  color: burlywood;
  z-index: 1000;
}
.model button {
  padding: 1rem 4rem;
  font-size: 1.4rem;
  color: green;
  border: 1px solid silver;
  cursor: pointer; 
  transition: 0.8s;
  font-family: 'Akaya Telivigala', cursive;
}
.model h2 {
  visibility: hidden;
} 

.highscore {
  margin-left: 10px;
  }