html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}
section {
  align-self: center;
}
section.board {
  display: grid;
  grid-template-rows: repeat(2, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  display: grid;
  grid-template-rows: repeat(2, 20vmin);
  grid-template-columns: repeat(3, 20vmin);
  grid-gap: 0vmin;
  text-align: center;
  background-color: #002F00;
}

div {
  border: 3px solid #DEB887;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  border: 3px solid #DEB887;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
} 

body {
  background-color: #0b8546;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 20% 0 20%;
  text-align: center;
  justify-content:center;
}
h1 {
  width;
  font-family:'Courier New', Courier, monospace;
  background-color: #DEB887;
  color: #002F00;
}
button { 
  background-color: #DEB887;
  text-transform: uppercase;
  border: solid;
  border-style:dotted;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-inline: 43%;
  text-align: center;
}

@-webkit-keyframes borderBlink {    
  from, to {    
      border-color: transparent    
  }    
  50% {    
      border-color: #002F00;
  }    
}    
@keyframes borderBlink {    
  from, to {    
      border-color: transparent    
  }    
  50% {    
      border-color: #002F00;   
  }    
}    
.borderBlink{    
  border:4px dotted #002F00;
  /* add 'border-color: transparent' if you wish no border to show initially */  
}
.borderBlink:hover {    
  -webkit-animation: borderBlink 1s step-end infinite;    
  animation: borderBlink 1s step-end infinite;    
}