html {
  box-sizing: border-box;
  margin: 5vw;
    height: 100%;
    background-color: #ca3d3d;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
    background-attachment: fixed;
    margin: 0 3% 5% 3%;
    padding: 0% 8% 8% 8%;
  }

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
  --cursive: 'Dancing Script', cursive;
  --serif: 'Playfair Display', serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0%;
  height: 10%;
  background-color: #ca3d3d;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
  background-attachment: fixed;
}

#title {
  height: 50%;
  background-color: #f1baba;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px), repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,0.4) 35px, rgba(255,255,255,0.4) 70px);
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 80vh;
  justify-content: center;
  font-size: 5.2rem;
  font-weight: 700;
  margin: auto;
  border: solid rgb(0, 128, 0);
  border-width: 0.3em;
  border-radius: 15%;
  padding: 0;
}

.holes
{ 
  position: absolute;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 13px;
  top: 100%;
  left: 50%;
  right: 50%;
  height: 56%;
  transform: translate(-30%, -50%);
  margin: 0 0 20px 0;
  width: auto;
}
.hole {
  position: relative;
  max-height: 300vh;
  max-width: 200vw;
  overflow: hidden;
  pointer-events: none;
  background-color: goldenrod;
  border: solid green;
  border-width: 3px;
}

.pile {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 150px;
  height: 23px;
  object-fit: fill;
  pointer-events: none;
}

.redAnt
{
  position: absolute;
  top: 90%;
  left: 0;
  width: 120px;
  object-fit: fill;
  pointer-events: all;
  cursor: pointer;
}

.modal
{
  cursor: default;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: green;
  pointer-events: all;
  color: white;
  margin: auto;
  width: auto;
}
.modal button {
  padding: 1rem 4rem;
  font-size: 1.4rem;
  color: green;
  border: 1px solid silver;
  cursor: pointer; 
  transition: 0.8s;
}
.modal h2 {
    visibility: hidden;
    position: absolute;
     text-align: center;
     height: 50px;
     justify-content: space-around; 
     align-items: center;
     margin: 0;
     width: 200px;
} 

.highscore {
  justify-content: center;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  color: red;
  }
.display {
  position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    margin: 0;
    padding: 0;
  }
.modalclose {
    opacity: 0;
    pointer-events: none;
  }
  .flash {
    background: rgb(238, 238, 238);
  }

  .shoe {
    position: absolute;
    z-index: 1000;
    height: 125px;
    top: 0;
    left: 0;
    transform: translate(10px, -40px);
  }
  @keyframes antup {
    from {
      transform: translateY(20px);
       }
    to {
      transform: translateY(-100px);
    }
  }
  @keyframes antdown {
    from {
      transform: translateY(-100px);
       }
    to {
      transform: translateY(150px);
    }
  }

  @media only screen and (min-width: 768px) {
    body {
      /* tablet - two column display */
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 50px auto 30px;
      grid-template-areas: 
        "header header"
        "side content"
        "footer footer";
    }
  }

  .score-table div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid green;
    padding: 4px;
    margin: 4px;
    width: auto;
    font-size: 2em;
    border-radius: 20pc;
    border-width: 0.25em;
    background-color: #8fbc8f;
  }

  .score {
    color: green;
    font-weight: bold;
  }

  .time {
    color: red;
    font-weight: bold;
  }